@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-bgc: #0b0b10;
  --color-primary: hsla(216, 33%, 97%, 0.95);
  --color-primary-dim: hsla(216, 33%, 97%, 0.75);
  --color-light-blue: #38bdf8;

  --font-rem: var(--font-rem), serif;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply font-rem bg-bgc text-primary leading-7 md:leading-8 antialiased;
  }

  a {
    @apply text-base md:text-lg lg:text-xl;
  }
  p {
    @apply text-base md:text-xl lg:text-2xl;
  }
  h1 {
    @apply text-4xl md:text-6xl lg:text-7xl font-semibold tracking-tight text-primary;
  }
  h2 {
    @apply text-2xl md:text-4xl lg:text-4xl font-semibold tracking-tight text-primary;
  }
  h3 {
    @apply text-base md:text-2xl lg:text-3xl font-semibold tracking-tight text-primary;
  }
}

@layer components {
  .container-page {
    @apply mx-auto w-full max-w-6xl lg:max-w-7xl px-6 md:px-8;
  }
}

@layer utilities {
  /* WIP may use this if changing to transparent navbar, commenting out for now  */
  /* .nav-box-shadow {
    box-shadow: 0 1px rgba(255, 255, 255, 0.05), 0 3px 6px rgba(0, 0, 0, 0.5);
  } */
  .btn {
    @apply rounded-full text-primary hover:text-light-blue focus-visible:text-light-blue active:text-light-blue active:bg-primary/5 transition-colors;
  }

  .btn-outline {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-light-blue/60 focus-visible:ring-offset-2 focus-visible:ring-offset-bgc;
  }

  .cta {
    overflow: hidden;
    will-change: transform;
    transform: translateZ(0);
    contain: paint;
  }

  /* gradiant animation for call to action buttons */
  .cta::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(90deg, #7873f5, #4ade80, #facc15);
    background-position: 50% 50%;
    background-size: 160%;
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
    transition: clip-path 700ms linear, opacity 220ms ease-out;
    will-change: clip-path, opacity;
  }

  /* show gradient on hover */
  @media (hover: hover) and (pointer: fine) {
    .cta:hover::before {
      clip-path: circle(150% at 50% 50%);
      opacity: 1;
    }
  }

  /* show gradient on press/focus */
  @media (hover: none), (pointer: coarse) {
    .cta:active::before,
    .cta:focus-visible::before {
      clip-path: circle(150% at 50% 50%);
      opacity: 1;
    }
  }

  /* hide clip-path when Reduced Motion accessiblity is activated   */
  @media (prefers-reduced-motion: reduce) {
    .cta::before {
      transition: opacity 200ms ease-out;
    }
  }
}
